
<div class="row">
    <div class="col-sm-6">
        <p class="mb-0">Customer Name</p>
    </div>
    <div class="col-sm-6">
        <p class="text-muted mb-0">{{customer.FirstName}} {{customer.LastName}}</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <p class="mb-0">Address</p>
    </div>
    <div class="col-sm-6">
        <p class="text-muted mb-0">{{customer.Address}}</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <p class="mb-0">Pan-No</p>
    </div>
    <div class="col-sm-6">
        <p class="text-muted mb-0">{{customer.PanNo}}</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <p class="mb-0">Email</p>
    </div>
    <div class="col-sm-6">
        <p class="text-muted mb-0">{{customer.Email}}</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <p class="mb-0">Phone</p>
    </div>
    <div class="col-sm-6">
        <p class="text-muted mb-0">{{customer.PhoneNumber}}</p>
    </div>
</div>