<nav *ngIf="isLogin && userData !=null" class="navbar navbar-expand-lg" style="background-color:#253c52">
    <!-- <nav style="background-color: green;" class="navbar navbar-expand-lg navbar-light bg-light p-0"> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" width="100%" id="navbarNav">
        <ul class="navbar-nav" style="height: 4rem;">
            <li class="nav-item">
                <a class="nav-link p-3" routerLink="['dashboard']">Loan Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link p-3" routerLink="/dashboard">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link p-3" routerLink="/customer">Customer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link p-3" routerLink="/loan">View Loan</a>
            </li>
        </ul>
    </div>
    <!-- <a class="nav-item mr-3 nav-link p-3" href="{% url 'logout' %}" style="background-color: #e85c29">Logout</a> -->
    <!-- </nav> -->
    <!-- <div class="container">
        <a class="navbar-brand" routerLink="/dashboard">
            <i class="bi-back"></i>
            <span>Loan Management</span>
        </a>

        <div class="d-lg-none ms-auto me-4">
            <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-lg-5 me-lg-auto">
                <li class="nav-item">
                    <a class="nav-link click-scroll" routerLink="/dashboard">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" routerLink="/loan">View Loan</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" routerLink="/customer">Customer</a>
                </li>

                
            </ul>

            <div class="d-none d-lg-block">
                <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
            </div>
        </div>
    </div>  -->
    <a *ngIf="isLogin" class="nav-item mr-3 nav-link p-3" (click)="logout()"
        style="cursor:pointer;background-color: #e85c29">Logout</a>
</nav>